.top-section {
  position: relative;
  min-height: 200px;
  padding-top: 0;
  background: $base-section-background-color;
  @media (max-width: 767px) {
    min-height: 1000px;
    padding: 0;
  }
  .gradient-overlay {
    opacity: 0;
  }
  &.enable-overlay .gradient-overlay {
    opacity: 1;
  }
  &::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.jumbotron {
    position: relative;
    left: 26px;
    margin: 100px 0 0 0;
    background: 0;
    @media (max-width: 767px) {
        left: 13px;
        margin-top: 50px;
        padding-left: 0;
        /* padding-bottom: 5px; */
    }
    @media screen and  (min-width: 768px) {
        /* padding-bottom: 0; */
    }
}
